.table-ui {

  padding: 15px 15px 0 15px;
  border-radius: 8px;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .05) !important;
  border: 1px solid rgba(0, 0, 0, .05);
  font-size: 14px;

  table,
  table.dataTable {
    padding: 15px 0;
  }

  table tfoot tr th,
  table thead tr th,
  table.dataTable tfoot tr th,
  table.dataTable thead tr th {
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 10px;
    font-weight: 500;
  }

  table tbody tr td,
  table.dataTable tbody tr td {
    padding: 5px;
  }

  table tbody tr,
  table.dataTable tbody tr {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: transparent !important;
  }

  table.dataTable tbody tr:hover,
  table.dataTable tbody tr:hover {
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    background-color: rgba(0, 0, 0, 0.02) !important;
    box-shadow: 0px 1px 8px -5px rgba(0, 0, 0, 0.5);
  }

  table thead th,
  table thead td,
  table tfoot th,
  table tfoot td,
  table.dataTable thead th,
  table.dataTable thead td,
  table.dataTable tfoot th,
  table.dataTable tfoot td {
    border: none;
  }

  .dataTables_wrapper .dataTables_filter {
    float: left;

    input {
      border-radius: 6px;
      padding: 5px 10px;
      margin-left: 0px;
      height: 40px;
    }
  }

  .dataTables_wrapper .dataTables_length select {
    border-radius: 6px;
    height: 40px;
  }

  .dataTables_wrapper .dataTables_length {
    float: right;
  }

  &.table-ui1 {
    color: #000;
    font-size: 14px;

    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter {

      select,
      input {
        border-radius: 8px;
        padding: 5px 15px;
        height: 45px;
        border: 2px solid rgba(0, 0, 0, 0.2);
        font-size: inherit;
      }

      select {
        margin-left: 10px;
      }

      input {
        min-width: 300px;
      }
    }
  }

}